body {
  font-family: arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  padding-left: 15px;
}

.google-logo {
  display: block;
  margin: 0 auto;
  padding-top: 10%;
}

.search-input-container {
  margin: 35px auto;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  opacity: 0.2;
  border: 1px solid black;
  padding: 5px;
  height: 35px;
}

.search-input {
  margin: 0 10px;
  width: 90%;
  border: none;
}

.material-icons {
  font-size: 35px;
}

.search-buttons-container {
  display: flex;
  justify-content: center;
}

.search-button {
  height: 32px;
  margin: 0 4px;
  border: none;
  border-radius: 5px;
}
